*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#nav-header {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
  overflow: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header{
  padding-bottom: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.row{
  width: 100%;
}
#box {
	background-color: #D3D3D3;
	overflow: auto;
  width: 100%;
  margin: 45px;
	border : 1px solid black;
}
a > h1{
  margin-top: 50px;
  text-shadow: 1px 1px 1px #222;
}
h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
p {
  width: 95%;
  height : 150px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: serif;
  color :black;
}
.div1 {
	text-align: center;
  font-size: 20px;
  /*border: 1px solid black;*/
  padding: 5px;
  font-weight: bold;	
}
.div2 {
	text-align: center;
	font-size: 20px;
	/*border: 1px solid black;*/
	padding: 5px;
	font-weight: bold;
}
.div3 {
	text-align: center;
  font-size: 20px;
  /*border: 1px solid black;*/
  padding: 5px;
  font-weight: bold;
}

@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  }
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* FOOD LLC */
    padding-top: 10px;
    font-size: 9vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */

    font-size: 1.2em;
  }

  /* End Header */
  .row{
  padding-right: 4%;
  padding-left: 5.5%;
}

.row div{
    margin-bottom: 3%;
}

.container{
  height: auto;
}

  
}